<h1>AI Group Work</h1></br>
<h4>Group Members</h4></br>
<h6>Edward Obala</h6></br>
<h6>Audrey Njenga</h6></br>
<h6>Kelvin Wachira</h6></br>
<h6>Ziithe HIwa</h6></br></br></br>
<h6>Dataset:Taxes on Profits, Income and Capital gains</h6></br>
<h6>Dataset:Annual Salary After Taxes</h6></br></br>
<h3>Cleaning The Dataset</h3>

In [1]:
#Import stuff
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sc

In [8]:
#First dataset after being read
df1=pd.read_excel("API_GC.TAX.YPKG.ZS_DS2_en_excel_v2_2071588.xls", index_col=None, header=3)

In [23]:
df1

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,28.377410,32.296542,34.091664,40.880527,42.905298,21.659345,22.026284,NaN,NaN,NaN
2,Angola,AGO,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,89.398523,61.732347,74.927387,73.519720,76.487642,79.920953,...,76.457265,78.006920,74.857882,69.925117,68.688069,68.505606,69.909963,NaN,NaN,NaN
3,Albania,ALB,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,76.540209,54.698202,20.762265,19.309929,20.540481,68.986165,...,19.805363,19.090732,19.753872,19.075042,20.568403,16.516516,21.765606,23.382676,26.006401,NaN
4,Andorra,AND,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,63.681896,47.664056,20.247495,19.993715,21.455949,58.051378,...,13.203575,12.727155,13.169248,12.716694,13.712269,11.011010,14.510404,15.588450,17.337601,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,51.965056,52.443320,52.902035,50.693387,49.083554,49.570138,...,33.617880,34.983666,34.654620,33.374141,32.879585,33.740324,34.050407,33.111864,0.000000,NaN
260,"Yemen, Rep.",YEM,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,54.534194,55.332665,55.489343,53.498181,51.764797,52.131644,...,44.823840,44.955053,44.864597,44.498855,43.839446,44.987099,45.400542,44.149152,0.000000,NaN
261,South Africa,ZAF,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,57.103332,58.222010,58.076652,56.302976,54.446040,54.693150,...,56.029800,54.926440,55.074574,55.623569,54.799308,56.233873,56.750678,55.186439,0.000000,NaN
262,Zambia,ZMB,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,57.103332,37.927814,43.405853,46.366049,44.300189,43.676846,...,53.692041,52.142890,43.733702,41.119102,46.345083,50.502991,43.073388,44.269295,0.000000,NaN
263,Zimbabwe,ZWE,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,57.103332,37.927814,43.405853,46.366049,44.300189,43.676846,...,35.627483,36.756416,43.733702,41.119102,36.749915,36.285760,35.553593,37.483368,0.000000,NaN

<h2>Checking for null values</h2>

In [10]:
#checking how many null values are there in the list
df1.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
2000              179
2001              173
2002              168
2003              164
2004              162
2005              162
2006              159
2007              159
2008              151
2009              146
2010              142
2011              137
2012              133
2013              136
2014              131
2015              128
2016              130
2017              129
2018              140
2019              170
2020              264
dtype: int64

In [13]:
#Creating a variable of all missing values
missing_value=np.nan
#Dropping rows with complete null values
df1=df1.dropna(how="all")
#filling single null cells with zeros
df1_0_fill=df1.fillna(0)
#filling the cell with data carried forward
df1_f_fill=df1.fillna(method="ffill")
#filling the cell with data carried back
df1_b_fill=df1.fillna(method="bfill")
#Using interpolation to find the median value (The onw we use)
df1=df1.interpolate()

<h5>Solution to fill up missing spaces and cells after cleaning up empty rows</h5>

<p>First lines are missing values so I am going to fill them up with backfill and forward fill after interpolation assuming the data is not that varying</p>

In [24]:
#backfill
df1=df1.fillna(method="bfill")
#forward fill
df1=df1.fillna(method="ffill")
df1

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,89.398523,61.732347,74.927387,73.519720,76.487642,79.920953,...,28.377410,32.296542,34.091664,40.880527,42.905298,21.659345,22.026284,23.382676,26.006401,NaN
1,Afghanistan,AFG,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,89.398523,61.732347,74.927387,73.519720,76.487642,79.920953,...,28.377410,32.296542,34.091664,40.880527,42.905298,21.659345,22.026284,23.382676,26.006401,NaN
2,Angola,AGO,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,89.398523,61.732347,74.927387,73.519720,76.487642,79.920953,...,76.457265,78.006920,74.857882,69.925117,68.688069,68.505606,69.909963,23.382676,26.006401,NaN
3,Albania,ALB,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,76.540209,54.698202,20.762265,19.309929,20.540481,68.986165,...,19.805363,19.090732,19.753872,19.075042,20.568403,16.516516,21.765606,23.382676,26.006401,NaN
4,Andorra,AND,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,63.681896,47.664056,20.247495,19.993715,21.455949,58.051378,...,13.203575,12.727155,13.169248,12.716694,13.712269,11.011010,14.510404,15.588450,17.337601,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,51.965056,52.443320,52.902035,50.693387,49.083554,49.570138,...,33.617880,34.983666,34.654620,33.374141,32.879585,33.740324,34.050407,33.111864,0.000000,NaN
260,"Yemen, Rep.",YEM,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,54.534194,55.332665,55.489343,53.498181,51.764797,52.131644,...,44.823840,44.955053,44.864597,44.498855,43.839446,44.987099,45.400542,44.149152,0.000000,NaN
261,South Africa,ZAF,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,57.103332,58.222010,58.076652,56.302976,54.446040,54.693150,...,56.029800,54.926440,55.074574,55.623569,54.799308,56.233873,56.750678,55.186439,0.000000,NaN
262,Zambia,ZMB,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,57.103332,37.927814,43.405853,46.366049,44.300189,43.676846,...,53.692041,52.142890,43.733702,41.119102,46.345083,50.502991,43.073388,44.269295,0.000000,NaN
263,Zimbabwe,ZWE,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,57.103332,37.927814,43.405853,46.366049,44.300189,43.676846,...,35.627483,36.756416,43.733702,41.119102,36.749915,36.285760,35.553593,37.483368,0.000000,NaN

In [33]:
#to tidy the data set I am sending the year taxation values into a column and out of the header row
df1_long=pd.melt(df1, id_vars=["Country Name","Country Code","Indicator Name","Indicator Code"], var_name="Year",value_name="Tax Rate")

#What you see it the tidy version of the table ;-)
#backfill
df1_long=df1_long.fillna(method="bfill")
#forward fill
df1_long=df1_long.fillna(method="ffill")
df1_long.interpolate()
df1_long

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Tax Rate
0,Aruba,ABW,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,2000,89.398523
1,Afghanistan,AFG,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,2000,89.398523
2,Angola,AGO,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,2000,89.398523
3,Albania,ALB,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,2000,76.540209
4,Andorra,AND,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,2000,63.681896
...,...,...,...,...,...,...
5539,Kosovo,XKX,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,2020,0.000000
5540,"Yemen, Rep.",YEM,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,2020,0.000000
5541,South Africa,ZAF,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,2020,0.000000
5542,Zambia,ZMB,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,2020,0.000000
5543,Zimbabwe,ZWE,"Taxes on income, profits and capital gains (% ...",GC.TAX.YPKG.ZS,2020,0.000000